* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    background-image: url("./images/pattern-bg-desktop.png");
    background-repeat: no-repeat;
    background-size: 100vw 38vh;
    font-family: "Rubik", sans-serif;
    text-align: center;
}

.heading,heading {
    font-size: 1em;
}
.result {
    font-size: 1.5em;
}
input,button {
    font-size: 1em;
}

h1 {
    padding:0.8em;
    color:white;
}
.input {
    display:flex;
    justify-content: center;
}
input {
    width:30vw;
    border-radius: 1em;
}
input, button {
    
    padding:1em;
    border: 0;
}
button {
    background-color: hsl(0, 0%, 17%);
    color:white;
    margin-left:-2.7em;
    border-radius: 0 1em 1em 0;
}

section {
    display:grid;
    grid-template:1fr/1fr 1fr 1fr 1fr;
    gap:2em;
    justify-content: space-between;
    padding:2em;
    margin:3% auto;
    text-align: left;
    width:75vw;
    min-height:10em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: white;
    border-radius: 1em;
    z-index: 10;


}
section > div {

    border-right:1px solid hsl(0, 0%, 59%);
}
.isp {
    border:none;
}
.heading {
    color: hsl(0, 0%, 59%);
    margin-bottom:0.5em

}
.result {
    color:hsl(0, 0%, 17%)
} 

#map {
    height:65vh;
    width:100vw;
    position:relative;
    z-index: -5;
    margin-top:-12em;
}


@media screen and (max-width:375px) {
    body {
        background-image: url("./images/pattern-bg-mobile.png");
        background-size: 100vw 80vh;
    }
    .heading,heading {
        font-size: 1em;
    }
    .result {
        font-size: 1em;
    }
    input,button {
        font-size: 1em;
    }
    h1 {
        padding:0.5em;
    }
    input {
        width:80vw;
    }

    section {
        display:grid;
        grid-template:1fr 1fr 1fr 1fr/1fr;
        gap:1em;
        width:80vw;
        padding:1em;
    }
    section > div {
        border-right:none;
    }
    #map {
        height:100vh;
    }
}
